// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
 //font-family: 'Open Sans', sans-serif;
 //font-family: 'PT Sans', sans-serif;
 //font-family: 'Roboto', sans-serif;


@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico&subset=cyrillic');
// font-family: 'Pacifico', cursive;
// font-family: 'Lobster', cursive;

@import '~owl.carousel/dist/assets/owl.carousel';
@import '~owl.carousel/dist/assets/owl.theme.default';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.border-catalog {
    border: 3px solid $catalog !important;
}

.border-catalog-1 {
    border: 1px solid #6a3df7 !important;
}

.border-catalog-2 {
    border: 2px solid #6a3df7 !important;
}

.text-catalog {
    color: #6a3df7 !important;
}

.title_font_block {
    font-family: 'Pacifico', cursive;
    font-family: 'Lobster', cursive;
}

.bg-catalog {
    background-color: #6a3df7 !important;
}

.bg-catalog.border-catalog-2 {
    border: 2px solid #6a3df7 !important;
}

.breadcrumb {
    font-size: 16px;
    padding: 0 0rem 0;
    margin-bottom: 0.5rem;
    background: $white;
}
.breadcrumb-item {}
.breadcrumb-item + .breadcrumb-item::before {
    font-family: "Font Awesome 5 Pro";
    content: '\f068';
    font-weight: 100;
}
.breadcrumb-item a {
    color: #6c757d !important;
}
.breadcrumb-item.active {}
.breadcrumb-item.active a {}

.owl-stage {
    padding-left: 0px !important;
}

.owl-theme .owl-nav {
    text-align: initial;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    width: 100%;
    z-index: 0;
    height: 0;
}
.owl-carousel.slide-home .owl-nav .owl-next {
    float: right;
}

.owl-carousel.slide-home .owl-nav .owl-prev.disabled,
.owl-carousel.slide-home .owl-nav .owl-next.disabled {
    display: none;
}

.owl-carousel.slide-home .owl-nav .owl-prev,
.owl-carousel.slide-home .owl-nav .owl-next,
.owl-carousel.slide-home .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.slide-home .owl-nav button.owl-prev,
.owl-carousel.slide-home .owl-nav button.owl-next,
.owl-carousel.slide-home button.owl-dot {
    background: none;
    display: block;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    height: 40px;
    width: 40px;
    background: #ececec !important;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.owl-carousel.slide-home .owl-nav button.owl-prev span,
.owl-carousel.slide-home .owl-nav button.owl-next span {
    display: none;
}
.owl-carousel.slide-home .owl-nav button.owl-prev {
    left: -25px;
}
.owl-carousel.slide-home .owl-nav button.owl-next {
    right: -25px;
}
.owl-carousel.slide-home .owl-nav button.owl-prev,
.owl-carousel.slide-home .owl-nav button.owl-next {
    font-family: "Font Awesome 5 Pro";
    border-radius: 50%;
    color: #343a40 !important;
    font-size: 18px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 999;
    position: absolute;
    font-weight: 100;
    outline: none !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    top: 50%;
    margin-top: -270px;
}
.owl-carousel.slide-home .owl-nav button.owl-prev:before {
    content: "\f060"
}
.owl-carousel.slide-home .owl-nav button.owl-next:before {
    content: "\f061";
}

body {
    font-family: 'PT Sans', sans-serif !important;
    background: $white !important;
}

body {
    max-width: 100% !important;
    width: 100% !important;
    min-width: 1314px;
}

.navbar-laravel {
  background-color: $purple !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-brand {
}
.navbar-brand span {
    left: 0;
    top: -20px;
    font-size: 46px;
    display: block;
}
.top-left-nav {
    font-size: 18px;
}

.top-left-nav .nav-item {
    width: 190px;
}

.top-left-nav .dropdown-toggle::after {
    display: none !important;
}

.top-left-nav .dropdown-menu{
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    border-color: #fff !important;
    max-width: 100% !important;
    min-width: 1314px;
    overflow: hidden;
}

.top-left-nav > li .fa-bars {
    width: 22px;
    text-align: center;
}

.top-left-nav > li > a {
    background: $catalog !important;
}
.top-left-nav > li.show > a {
    color: $purple !important;
    background: $white !important;
}

.top-left-nav > li.show .fa-bars:before {
    content: "\f00d";
}

.bg-white-50 {
    background: $white-50;
}

.bg-purpl {
    background: $purple;
}

.top-line {
    padding: 5px 0;
    font-size: 12px;
    border-bottom: 1px solid;
    border-bottom-color: #5d37cc;
}
.top-line .city {}
.top-line .city > i {
    font-size: 0.7rem;
}
.top-line .city > span {}
.top-line .city > a {}

.top-left-nav .dropdown-menu {
    background: linear-gradient(90deg,#f7f7f7 50%,#fff 50%);

}
.top-left-nav .dropdown-menu .container {
    min-width: 1200px;
}
.top-left-nav .dropdown-menu .vertical-menu_block { display: none; }
.top-left-nav .dropdown-menu > .container > .d-flex > .list-menu {
    min-width: 220px;
}
.top-left-nav .dropdown-menu > .container > .d-flex > .list-menu > li {}
.top-left-nav .dropdown-menu > .container > .d-flex > .list-menu li > a {
    color: $black;
    display: inline-block;
    padding: 0.4rem 1rem;
    font-size: 0.93rem;
    line-height: inherit;
    width: 100%;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.top-left-nav .dropdown-menu > .container > .d-flex > .list-menu li.active > a {
    background: $white;
}
.vertical-menu-block {
    font-size: 1rem;
}
.vertical-menu-block .vertical-menu-block-title,
.vertical-menu-block .vertical-menu-block-title a {
    font-size: .95rem;
    color: $black;
    text-decoration: none;
}
.vertical-menu-block .vertical-menu-block-title a:hover {
    opacity: .5;
}
.vertical-menu-block ul {}
.vertical-menu-block ul li {}
.vertical-menu-block ul li a {
    text-decoration: none;
    color: var(--gray);
}
.vertical-menu-block ul li a:hover {
    opacity: .9;
    color: $purple;
}

.card-columns {
    @include media-breakpoint-only(xs) {
        column-count: 2;
    }
    @include media-breakpoint-only(sm) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 2;
    }
    @include media-breakpoint-only(xl) {
        column-count: 2;
    }
}


.search-form {}
.search-form input {
    padding: 10px 15px;
    height: 44px;
    width: 260px !important;
}
.search-form button {
    background: $catalog !important;
    border-color: $catalog !important;
    color: $white !important;
    font-size: 1rem;
    font-weight: 600;
}
.search-form button {}

.top-right-nav {
    font-size: 1.09rem;
    font-weight: 600;
}
.top-right-nav a {
    color: $white;
}

.cart-mini {}
.cart-mini-block {}
.cart-mini-block i {
    position: relative;
}
.cart-mini-block i span {
    position: absolute;
    background: $red;
    border-radius: 25px;
    overflow: hidden;
    color: $white;
    font-size: .7rem;
    display: inline-block;
    padding-top: 0.02rem;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    padding-bottom: 0.02rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    top: -5px;
    right: -100%;
}
.cart-mini-block div {
    display: inline-block;
}



.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
    0% {
        transform: translateY(8.0rem);
        opacity: 0;
    }
    100% {
        transform:translateY(6.0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(8.0rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(8.0rem);
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(6.0rem);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(8.0rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@media (min-width: 1260px) {

    .wm-1140 {
        min-width: 1200px;
    }

}

@media (min-width: 1120px) {
    .wm-1140 {
        width: 992px;
    }
}
@media (max-width: 1259px) {
    .top-right-nav {
        display: none;
    }
    .cart-mini-block div {
        display: none!important;
    }
    //.top-right-nav > li > a > span {
    //    display: none!important;
    //}
    //.top-right-nav > li > a i {
    //    display: block !important;
    //}
}
.wm-1140 {
    width: 1264px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    max-width: 1264px;
}

.top-right-nav > li > a > i {
    display: none;
}
.slick-slide {
    width: 200px !important;
    padding: 0 10px;
}
.sh-product {
    text-decoration: none !important;
}
.sh-product #price {
    font-size: 18px;
    font-weight: 900;
    color: $black;

}
.sh-product .title {
    font-size: 14px;
    line-height: 20px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
    color: $black;
     //font-family: 'Open Sans', sans-serif;
    // font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}
.sh-product button:hover {
    background: $catalogHover !important;
}
.sh-product button {
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'PT Sans', sans-serif;
     font-family: 'Roboto', sans-serif;
    background: $catalog;
    font-weight: 500;
    font-size: 14px;
    height: 32px;
    padding: 0 14px;
    border-width: 1px;
    border: solid transparent;
    position: relative;
    margin: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    font-size: 20px;
    color: #000000;
    background-color: #fff;
    border: 1px solid #d0d0d0;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: $catalog;
    border-color: $catalog;
}

.profile-nave-top {
    top: -60px !important;
    right: 0 !important;
    left: initial !important;
}

button.bg-light-active {
    background-color: $silver !important;
}
.border-light-active {
    border-color: $silver !important;
}

.category-show-left-menu {}
.category-show-left-menu a {}
.category-show-left-menu a:hover {
    opacity: .6;
}

.title-product-full h1 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

.price-product-full {}
.price-product-full .price {
    line-height: 36px;
    font-size: 32px;
    font-weight: 700;
}

.add-cart-product-full-block {}
.add-cart-product-full-block .btn:focus,
.add-cart-product-full-block .btn:hover,
.add-cart-product-full-block .btn:active {
    outline: none !important;
}

.add-cart-product-full-block .btn-outline {}
.add-cart-product-full-block .btn {
    font-weight: 500;
    font-size: 18px;
    border-radius: 2px !important;
    font-family: 'Roboto', sans-serif;
}

.quantity-product-full {
    line-height: 36px;
    font-size: 18px;
    font-weight: 600;
}

.spec-product-full-block {
    font-family: 'Roboto', sans-serif;
}
.spec-product-full-block-title {
    font-size: 42px;
    line-height: 44px;
    font-weight: 500;
}
.spec-product-full-title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

.spec-product-full {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

.spec-product-full-left {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.spec-product-full-left-bef {
    height: 1px;
    margin: 0 0 0 8px;
    background: linear-gradient(to right, #dcdcdc 33%, transparent 0) repeat-x bottom;
    background-size: 3px 1px;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.spec-product-full-value {}

.product-full-description {
    font-size: 16px;
    line-height: 24px;
}

footer {
    background-color: $catalog;
}

.image-gallery {
    margin: 0 auto;
    display: table;
}

.primary,
.thumbnails {
    display: table-cell;
}

.thumbnails {
    cursor: pointer;
}

.primary {
    display: block;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail-image,
.selected .thumbnail-image {
    border: 3px solid #610de0;
    border-radius: 4px;
}

.thumbnail-image {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border: 3px solid #ffffff;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
}