// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.top-left-nav .dropdown-toggle::after {
    display: none !important;
}

.bg-white-50 {
    background: $white-50;
}

.bg-purpl {
    background: $purple;
}

.top-line {
    font-size: 12px;
}
.top-line .city {}
.top-line .city > i {
    font-size: 0.7rem;
}
.top-line .city > span {}
.top-line .city > a {}


.dropdown-menu .vertical-menu_block { display: none; }
//.dropdown-menu > .container { position: relative !important;}
//.dropdown-menu > .container > .list-menu {}
//.dropdown-menu > .container > .list-menu > li {}
//.dropdown-menu > .container >  .list-menu > li > a {}
//.dropdown-menu > .container > .list-menu > li > .vertical-menu {
//    display: none;
//    width: 100%;
//    padding-left: 20%;
//    position: absolute;
//}
//.dropdown-menu > .container > .list-menu > li > .vertical-menu > .vertical-menu-block {}
//.dropdown-menu > .container > .list-menu > li > .vertical-menu > .vertical-menu-block > .vertical-menu-block-title {}
//.dropdown-menu > .container > .list-menu > li > .vertical-menu > .vertical-menu-block > .vertical-menu-block-list-item {}
//.dropdown-menu > .container > .list-menu > li > .vertical-menu > .vertical-menu-block > .vertical-menu-block-list-item > li {}
//.dropdown-menu > .container > .list-menu > li > .vertical-menu > .vertical-menu-block > .vertical-menu-block-list-item > li a {}
//.dropdown-menu > .container > .list-menu > li > a:hover + div.vertical-menu { display: block; }
